*{
    border: 1px solid rgb(7, 5, 5);
}
header{
    display: flex;
    width:100%;
}
section{
    display: flex;
    flex-direction: row;
    width:50%;
}
/* NAV BAR*/
nav{
    background-color: #E45D32;
}
nav>.logo{
    display: inline;
    width: 200px;
    height: 200px;
    margin: 1em;
    padding: 10px;
}
ul{
    display: inline-block;
    list-style: none;
}
li{
    display: inline-block;
    margin: 2em;
    padding: 1em;
}