*{
    border: 1px solid rgb(7, 5, 5);
}
header{
    display: flex;
    width:100%;
}
section{
    display: flex;
    flex-direction: row;
    width:50%;
}
/* NAV BAR*/
nav{
    background-color: #E45D32;
}
nav>img{
    width: 200px;
    height: 200px;
}
ul{
    list-style: none;
}